nav {
  padding: 10px;
  display: flex;
  align-items: center;
  background-color: black;
  justify-content: space-around;
  border-bottom: 2px solid white;
}
.logo > img {
  width: 90px;
  border-radius: 50%;
  cursor: pointer;
}
.info > ul {
  list-style-type: none;
  display: flex;
}
.info > ul > li {
  font-size: 20px;
  font-weight: 900;
  padding-left: 10px;
  padding-right: 10px;
  color: lavenderblush;
  cursor: pointer;
}

@media screen and (max-width: 480px) {
  .info > ul > li {
    font-size: 15px;
  }
  .logo > img {
    width: 50px;
  }
}
